*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 40vh;
    width: 40vw;

    overflow-x: hidden;

    position: relative;
}
.content{
    display: flex;
    flex-shrink: 0;
}
.mini{
    height: 40vh;
    width: 40vw;
    flex-shrink: 0;
}
button{
    height: 15vh;
    width: 3vw;
}

.dots{
    position: absolute;
    bottom: 1vh;
    left: 12.5vw;
    width: 15vw;
    height: 3.5vh;
    background-color: rgba(0, 0, 0, 0.104);
    border-radius: 1.75vh;
    padding: 0.5vh 1vw;
    overflow-x: scroll;
    scrollbar-width: none;

    box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.104);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}
.dots:hover{
    background-color: rgba(0, 0, 0, 0.208);
    box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.208);
}
.circle{
    background-color: ghostwhite;
    height: 0.6vw;
    width: 0.6vw;

    border-radius: 0.3vw;
    flex-shrink: 0;
    margin: 0 0.5vw;
}
.circle:hover{
    background-color: rgb(202, 202, 207);
}